body {
    margin: 0;
}

.wrapper {
    background-color: whitesmoke;
    padding-top: 140px;
}

.container {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.days-list {
    width: 100%;
    display: flex;
}

.card {
    width: 110px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-right: 10px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.card:hover {
    border: 1px solid grey;
}

.card__img {
    width: 100%;
}

.today {
    width: 100%;
    height: 100%;
}